@use "variables.module";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: variables.$color-six;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

button,
input {
  cursor: pointer;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.zen_antique {
  font-family: var(--font-zen-antique), serif;
}

.noto_serif_jp {
  font-family: var(--font-noto-serif-jp), serif;
}

.shippori_mincho {
  font-family: var(--font-shippori-mincho), serif;
}

// span {
//   color: brown;
// }

.border-5 {
  border-style: solid;
  border-width: 5px;
}

.border-r {
  border-right-style: solid;
  border-right-width: 5px;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-end {
  text-align: end;
}

.font-normal {
  font-weight: normal;
}

.autofill-dots {
  border-left-style: dotted;
  border-left-width: 2px;
  display: inline-block;
}

.text-xs {
  font-size: 0.75rem;
}

.flex-1 {
  flex: 1;
}

// :root {
//   --doc-height: 100%;
// }

body {
  min-height: 100vh;
  min-height: var(--doc-height);
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: variables.$breakpoint-desktop) {
    min-height: 100vh;
  }

  header,
  footer {
    height: 3rem;
    background: variables.$color-three;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header {
    border-bottom: 1px solid black;
    padding: 0 0.75rem;

    > a {
      height: 100%;
      display: flex;
      align-items: center;
      font-family: var(--font-zen-antique), serif;
    }
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  footer {
    border-top: 1px solid black;
    padding: 0 0.75rem;
  }
}

.adjustbar,
.pagenav {
  display: flex;
  height: 2.5rem;
  align-items: center;
}

.adjustbar {
  border-bottom: solid black 1px;
  justify-content: center;

  > label {
    margin-right: 0.5rem;
    font-family: var(--font-noto-serif-jp), serif;
  }
  > select + label {
    margin-left: 2rem;
  }
}

.pagewrap {
  flex: 1;
  background: #171923;
  overflow-x: auto;
  display: flex;
  padding: 0 0.75rem;

  // book page
  > div {
    position: relative;
    min-width: var(--bookpage-width);

    // book paper
    > div {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      writing-mode: vertical-rl;
      white-space: pre-wrap;
      border-style: none solid;
      border-width: 1px;
    }
  }

  > div:first-child {
    margin-left: auto;
  }

  > div:last-child {
    margin-right: auto;
  }
}

.黒字白紙 {
  .pagewrap {
    > div {
      > div {
        color: #000000;
        background-color: #e0e2dc;
        border-color: #000000;
      }
    }
  }
}

.白字黒紙 {
  .pagewrap {
    > div {
      > div {
        color: #cbd5e0;
        background-color: #0e0e10;
        border-color: #cbd5e0;
      }
    }
  }
}

.pagenav {
  border-top: solid black 1px;

  // page nav button
  > button {
    height: 100%;
    width: 2.5rem;
    background: transparent;
    font-size: 1rem;
    border: none;
  }

  > button:first-child {
    border-right: solid black 1px;
  }

  > button:last-child {
    border-left: solid black 1px;
  }

  // page slider container
  > div {
    flex: 1;
    margin: 0 1rem;

    > datalist {
      > option {
        appearance: none;
      }
    }

    > input {
      width: 100%;
      transform: rotate(180deg);
    }
  }
}

@media only screen and (min-width: variables.$breakpoint-desktop) {
  .pagespace::-webkit-scrollbar {
    display: none;
  }
}
