$breakpoint-desktop: 992px;
$breakpoint-tablet: 600px;

$color-paperwhite: #e0e2dc;
$color-paperblack: #0e0e10;

$color-fontwhite: #cbd5e0;
$color-fontblack: #000000;

$color-oldbook: #cc9966;

$color-six: #171923;
