$breakpoint-desktop: 1200px;
$breakpoint-tablet: 810px;

$color-six: #fbd38d;
// $color-three: #9c4221;
$color-three: #9c4221;
$color-one: #000000;

$color-paperwhite: #e0e2dc;
$color-paperblack: #0e0e10;

$color-fontwhite: #cbd5e0;
$color-fontblack: #000000;
