.maincenter {
  margin: 1rem 2rem;
  flex-direction: column;
  writing-mode: vertical-rl;

  // main heading
  > h1 {
    // font-size: 3rem;
    line-height: 1;
    font-family: var(--font-noto-serif-jp), serif;
    margin-left: 1rem;
  }

  // book nav
  > div {
    flex: 1;
    display: flex;

    // book link
    > button,
    > a {
      font-family: var(--font-noto-serif-jp), serif;
      background: #9c4221;
      // flex: 1;
    }
  }
}
